@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/usual');

@layer base {
  :root {
    --text: #5e5e5e;
    --background: #ffefd4;
    --primary: #ff7f51;
    --secondary: #3aa488;
    --accent: #ffe26b;
  }
  .dark {
    --text: #fffef5;
    --background: #191a14;
    --primary: #ee5f2b;
    --secondary: #33846f;
    --accent: #f0d04c;
  }
}
